ul{list-style: none;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
p{margin: 0px; }

.bodyInbox {width: 1000px; margin: 0 auto;}

.header{width: auto; height: 40px; margin: 0px auto; text-align: center;}
.header .btnArea {width: 100%; height: 40px;}
.header ul li{
	float: right; 
	padding: 3px 7px; 
	border-radius: 5px;  
	margin: 0px 5px; 
	border: 1px solid #666666;
}
.bodyInbox .content{width: 100%; height: 100%; clear:both;}

.bodyInbox .content .leftBox{float: left; width: 600px;  padding: 40px 0px; box-sizing: border-box;}

.bodyInbox .content .rightBox{float: left; width: auto; margin-left: 30px; padding: 40px 0px; box-sizing: border-box;}
.leftBox form fieldset{height: 500px;}
.leftBox form {width: 600px; margin: 0 auto;}
.rightBox form {width: auto;}
.rightBox form fieldset{padding: 20px 30px;}
