ul{list-style: none;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
p{margin: 0px; }

.bodyInbox {width: 900px; margin: 0 auto;}

.header{width: auto; height: 40px; margin: 0px auto; text-align: center;}
.header .btnArea {width: 100%; height: 40px;}
.header ul li{
	float: right; 
	padding: 3px 7px; 
	border-radius: 5px;  
	margin: 0px 5px; 
	border: 1px solid #666666;
}
.bodyInbox .content{width: 100%; height: 100%; clear:both;}

.bodyInbox .content .leftBox{float: left; width: 450px;  padding: 40px 0px; box-sizing: border-box;}
.leftBox div{width: 170px; margin: 20px auto;}
.leftBox p{z-index: -1; width: 80px;  border: 1px solid #666666; border-radius: 5px; text-align: center; margin: 20px auto;}
.btn{z-index: 1; padding: 5px 10px; border: 1px solid #666666; border-radius: 5px; background: none; text-align: center;}
.btn a{font-size: 17px}
.leftBox form {width: 400px; margin: 0 auto;}
.leftBox form div{height: 300px;}
#topBtn{float: right; margin: 0px 1px; padding: 5px 10px; border: 1px solid #666666; border-radius: 5px;}
#addCat{float: right;}
.leftBox ul{width: 300px;    margin: 0 auto;}
.leftBox ul li input{border: 1px solid #666; height: 24px; width: 150px; margin: 5px; }
.leftBox span{width: 200px; display: inline-block; margin: 7px}
.bodyInbox .content .rightBox{float: right; width: 450px; margin-top: 70px; padding: 40px 0px; box-sizing: border-box;}
.rightBox .p1{text-align: center; font-size: 30px;}
.rightBox .p2{text-align: center; font-size: 20px; margin-top: 30px; }

