@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


/* initial body css */
body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: none;
    background-color: #ffffff;
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}


/* button css. */
button{
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    width: 72%;
    height: 1.7em;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
    color:#fff;
    background-color:#e7708d;
}

/* control the overall css of the table */
table.list {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: auto;
    margin-top : 20px;
    margin-bottom : 20px;
}

/* control the th of thead selecter */
table.list thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}

/* control the th in tbody selecter */
table.list tbody th {
    width: 150px;
    padding: 10px;
}

/* control the td */
table.list td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}

/* form css */
form{
	text-align:center;
	width:20%;
	margin:auto;

}

/* css for the fieldset */
fieldset{
	margin-top:30px;
	border:none;
}

/* input type css */
input{
	background-color:#fdf3f5;
	width:70%;
	height:1.7em;
	margin-bottom:0.2em;
}
	
